/*
	Drupal core: system.base.css
*/

/*
	Prevent text wrapping.
*/

.nowrap { white-space: nowrap; }

/*
	For anything you want to hide on page load when JS is enabled, so
	that you can use the JS to control visibility and avoid flicker.
*/

html.js .js-hide { display: none; }

/*
	Hide elements from all users.

	Used for elements which should not be immediately displayed to any user. An
	example would be a collapsible fieldset that will be expanded with a click
	from a user. The effect of this class can be toggled with the jQuery show()
	and hide() functions.
*/

.element-hidden { display: none; }

/*
	Hide elements visually, but keep them available for screen-readers.

	Used for information required for screen-reader users to understand and use
	the site where visual display is undesirable. Information provided in this
	manner should be kept concise, to avoid unnecessary burden on the user.
	"!important" is used to prevent unintentional overrides.
*/

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
}

/*
	The .element-focusable class extends the .element-invisible class to allow
	the element to be focusable when navigated to via the keyboard.
*/

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/*
	Clearfix
*/

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after { clear:both; }


/*
	Drupal core: system.messages.css.
*/

div.messages {
	border: 1px solid;
	border-radius: 3px;
	margin: 6px 0;
	padding: 10px 20px; /* LTR*/
	box-shadow: 0 2px 1px rgba(0,0,0,.33);

	ul
	{
		margin: 0 0 0 1em; /* LTR*/
		padding: 0;

		li { list-style-type: disc; }
	}
}

.ok { color: #234600; }

div.status,
table tr.ok
{
	border-color: #185140;
	background: #24775E;
	color: #fff;
}

.warning { color: #840; }

div.warning,
table tr.warning
{
	border-color: #C6A73B;
	background: #EC5;
	color: #543F2A;
}

.error
{
	color: #8c2e0b;
}

div.error,
table tr.error
{
	border-color: #A02113;
	background: #BA2716;
	color: #fff;
}



/*
	Typogrify: typogrify.css
*/

.caps { font-size: .9em; }

.dquo { margin-left: -.5em; }

/* Only use the fancy ampersand in <h#> tags */

h1 .amp, h2 .amp, h3 .amp, h4 .amp, h5 .amp, h6 .amp {
	font-size: 1.0em;
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif;
	font-style: italic;
}