/*
	Images
*/

$search: url(data:image/gif;base64,R0lGODlhEQAQAPUyAMni8mG08uPt8mO08ne982y48mCz8vDz8tfo8vb18uLt8onF8nO885vN8s3k84fE8pnM85DI82W18uvx8nW884/I822589zq8vj28uDs8r3d8uXu8cvj89Xn8qPQ8oXE8rvb8rXY85fM88Lf8pTK8+7y8u3x8trp8ufv8We28qvU83m+87fZ8tPm8mm38sXh8t7r8vr38V6x8gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QAT8AIfkEBQAAMgAsAAAAABEAEAAABoVAmdASEsQODpFByGR+DrGoFFFoChnQzMJgWChisIBVE1MMmhKjx2qKPayySuzSHETFVkmsZE3EzlYpMQJWHTERcBExLFYQg1VMBRsJDFYBCDEmDRQUDW0OcDIuHFKlMSChMhAvKAgqD20xI3ipQgSxAIC1MgQTUS20tb0xGCu7TAQnJDJBADs=);

$arrow: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAdUlEQVR42qWSwQkAMQgEr4nUdJ2khZRxcNzHZq6ktGAi7HNFljzGjzug6PW9D6NvjPWysAMrBYScShAkKcpImEwKwQVMF/SR9KXr8NHh9Nf478boG2O9LOzASgEhpxIESYoyEiaTQnAB0wV9JH3pOnxyOP01Fge4EWcuOBBjAAAAAElFTkSuQmCC);

$biglama: url(../img/l-big.png);
