/*
	Stylesheet: wimleers.com
	Author: Xavier Bertels
	Vertical-rhythm: 7px
*/

/*
	Import CSS Libraries
*/

@import
	'drupalstuff.scss',
	'fonts.scss',
	'images.scss',
	'grid.scss';

/*
	Colors for SCSS
*/

      $red: #c24523;
$borderred: #f3a690;
     $blue: #2385c2;
$lightblue: #93cef4;
 $darkblue: #14699E;

/*
	Reset browser defaults
*/

* { margin: 0; padding: 0; }

header,
footer,
section { display: block; }

/*
	Base Typography
*/

body
{
	font: 14px/21px Verdana, sans-serif;
	color: #404050;
	background: #faf7f2;
	min-width: 960px;
}

h1
{
	font: 400 26px/28px "Qlassik Medium", sans-serif;
	margin-bottom: 7px;

	a
	{
		color: #c24523;
		border: none;
	}
}

a
{
	text-decoration: none;
	border-bottom: 1px solid $lightblue;
	color: $blue;
}

table
{
	margin: 6px 0 20px;
	border-collapse: collapse;
	width: 100%;

	ul,
	ol,
	dl
	{
		padding-left: 20px;
	}
}

th,
tr,
td
{
	border: 1px solid #DAD7D3;
	text-align: left;
}

th,
td
{
	padding: 3px 10px;
	vertical-align: top;
}

th
{
	background: #F2EEE6;
}


/*
	Object oriented classes
*/

.alignRight { float: right; }

.alignLeft { float: left; }

.pager
{
	list-style: none;
	text-align: right;
	color: #878787;

	li
	{
		padding: 14px 7px;
		display: inline-block;
	}
}

/*
	Site Header
*/

.siteHead
{
	height: 100px;
	border-top: 7px solid #19618d;
	background: #3a99d5;
	background: -webkit-linear-gradient(#268fd0 0,#2385c2 12%,#58b3ed 96%,#418ebd 100%);
	background:    -moz-linear-gradient(#268fd0 0,#2385c2 12%,#58b3ed 96%,#418ebd 100%);
	background:         linear-gradient(#268fd0 0,#2385c2 12%,#58b3ed 96%,#418ebd 100%);
	color: #fff;

	a
	{
		font: 400 36px/42px "Qlassik Medium", sans-serif;
		color: #fff;
	}

	.logo
	{
	 	padding-top: 28px;

		a
		{
			display: inline-block;
			border-bottom: 1px solid #76c0ee;
			line-height: 28px;
			margin: 7px 0;
		}

		a:hover,
		a:focus { border-color: #c0e7ff; }
	}

	h1 { margin: 0; }

	h2 { font: italic 16px/21px Georgia, serif; }

	nav ul
	{
		 margin-top: 60px;

		li
		{
		list-style: none;
		float: left;
		padding: 13px 6px 13px;
		margin-right: 10px;

			a
			{
				color: #225270;
				display: block;
				float: left;
				font: 700 11px/14px Verdana, sans-serif;
				letter-spacing: 1px;
				text-transform: uppercase;
				border-bottom: 1px solid #217eb8;
			}

			a:hover,
			a:focus
			{
				color: #15324E;
				border-color: #225270;
			}

			a:active
			{
				position: relative;
				border: none;
				top: 1px;
			}
		}


		li.active
		{
			background: #217db7;

			a
			{
				color: #fff;
				border: none;
			}
		}
	}

	.meta a
	{
		color: #3075a0;
		border-color: #3e98d1;
	}
}

/*
	Main Section
*/

section.main
{
	padding: 42px 0;

	header
	{
		padding-bottom: 14px;

		.meta
		{
			color: #959ca0;
			font: 700 11px/21px Verdana, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;

			span
			{
				font: 400 italic 15px/21px Georgia, serif;
				text-transform: none;
				letter-spacing: 0;
			}
		}
	}

	h2,
	h3,
	h4
	{
		padding: 7px 0;
		font: 20px/21px "Qlassik Medium", sans-serif;
	}

	blockquote
	{
		font: 400 italic 15px/21px Georgia, sans-serif;
		padding: 0 40px 0;
	}

	pre,
	code
	{
		color: $red;
		font: 400 14px/21px "Monaco", monospace;

		a
		{
			color: $red;
			border-color: $borderred;
		}
	}

	sup { vertical-align: baseline; }

	.body
	{

		p,
		ul,
		ol,
		pre,
		dl { padding-bottom: 14px; }

		li,
		dd { padding-bottom: 7px; }

		dt { font-weight: 700; }

			ul ul,
			ol ol { padding-left: 1em; }

		hr
		{
			border: none;
			height: 1px;
			background: #DAD7D3;
			margin-bottom: 13px;
		}

		a:hover,
		a:focus
		{
			color: $darkblue;
			border-color: $blue;
		}

		a:active
		{
			color: $red;
			position: relative;
			top: 1px;
			border: 0;
		}

		a[rel="footnote"]
		{
			border: none;
			color: #A99;
			display: inline-block;
			font: 700 9px/10px Verdana, sans-serif;
			padding: 1px 3px 2px;
			position: relative;
			top: -6px;
			left: 1px;
			border-radius: 10px;
		}

		a[rel="footnote"]:hover,
		a[rel="footnote"]:focus
		{
			background: $blue;
			color: #fff;
		}

		a[rel="footnote"]:active
		{
			background: $red;
			color: #fff;
		}
	}

	footer,
	.footnotes
	{
		margin-top: 7px;
		border-top: 1px solid #dad7d3;
		padding-top: 20px;
		color: #8a8a99;
	}

	.footnotes hr { display: none; }

	aside
	{

		.breadcrumb
		{
			color: #a8a8a8;
			font-size: 13px;;
			margin-top: 7px;

			a
			{
				color: #a8a8a8;
				border-bottom: 1px solid #ccc;
			}
		}

		ul
		{
			list-style: none;

			a
			{
				font: 700 11px/20px Verdana, sans-serif;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			&.tags li
			{
				display: inline-block;
				margin: 0 7px 7px 0;

				a
				{
					float: left;
					height: 20px;
					margin-bottom: 1px;
					position:relative;
					background: #c2c2c2;
					color: #faf7f2;
					padding: 3px 7px 4px;
					margin-right: 5px;
					padding: 0 10px 0 10px;
					border-radius: 2px 0 0 2px;
					border: none;
				}

				a:before
				{
					content: "";
					float: right;
					position: absolute;
					top: 0;
					right: -10px;
					width: 0;
					height: 0;
					border-color: transparent transparent transparent #c2c2c2;
					border-style: solid;
					border-width: 10px 0 10px 10px;
				}

				a:after
				{
					content: "";
					position: absolute;
					top: 8px;
					right: 0;
					float: left;
					width: 4px;
					height: 4px;
					border-radius: 2px;
					background: #faf7f2;
				}

				a:hover,
				a:focus { background: #aaa; }

				a:active { background: $red; }

				a:hover:before,
				a:focus:before { border-color: transparent transparent transparent #aaa; }

				a:active:before { border-color: transparent transparent transparent $red; }
			}

			&.topics li
			{

				a
				{
					color: #2385c2;
					border-bottom: 1px solid #94c7e7;
				}

				a:hover,
				a:focus { border-color: #2385c2; }

				a:active
				{
					position: relative;
					top: 1px;
					border: none;
					color: $red;
				}
			}

			&.files .filesize { font: 500 11px/20px Verdana, sans-serif; }

			&.files .file
			{
				a
				{
					text-transform: none;
					letter-spacing: normal;
					color: #2385c2
				}

				a:hover,
				a:focus
				{
					color: #14699e;
					border-color: #2385c2;
				}
			}
		}

		h1
		{
			font: 400 italic 15px/21px Georgia, sans-serif;
			margin: 28px 0 7px;
		}
	}
}

/*
	Writings: add class="writings" to <section> tag
*/

section.writings
{
	.body
	{

		article
		{
			border-bottom: 1px solid #dad7d3;
			padding: 21px 0 20px;

			.meta
			{
				color: #b8b5b2;
				padding-top: 7px;
				text-transform: uppercase;
				font-size: 13px;

				// day
				.d
				{
					font-weight: 700;
					font-size: 20px;
					line-height: 21px;
				}

				// month
				.m
				{
					letter-spacing: 1px;
					display: block;
				}

				// tags: article, post, talk
				.tag-a,
				.tag-b,
				.tag-t
				{
					letter-spacing: 1px;
					font-weight: 700;
					font-size: 10px;
					display: inline-block;
				}

				.tag-a { color: #b0312e; }

				.tag-b { color: #315389; }

				.tag-t { color: #c98e32; }

				.tag-a:hover,
				.tag-b:hover,
				.tag-t:hover
				{
					padding: 0 7px;
					margin-left: -7px;
					background: #f0ebe4;
					border-radius: 3px;
				}
			}

			a
			{
				border: none;

				h2
				{
					color: #5c5553;
					font-size: 26px;
					line-height: 28px;
					margin-bottom: 14px;
				}

				p { color: #858381; }

				p:after
				{
					content: ">";
					display: inline-block;
					background: $arrow;
					height: 12px;
					width: 12px;
					overflow: hidden;
					text-indent: -9999px;
					margin-left: 7px;
				}
			}

			a:hover h2,
			a:hover p,
			a:focus h2,
			a:focus p { color: #c24523; }

			a:hover p:after,
			a:focus p:after { background-position: 0 -12px; }
		}
	}

	/*
		Widget: topics
	*/

	aside.topics
	{
		padding-top: 21px;

		h2
		{
			color: #9e9c99;
			font-size: 26px;
			line-height: 28px;
			margin-bottom: 7px;
		}

		li { margin-bottom: 7px; }

		a
		{
			color: #9e9c99;
			border-color: #d8d5d1;
			font-weight: 400;
			text-transform: none;
			letter-spacing: 0;
			font-size: 14px;
		}

		a:hover,
		a:focus
		{
			color: $blue;
			border-color: $blue;
		}

		a:active { color: $red; }
	}
}

/*
	Front (homepage): add class="front" to <body> tag
*/

.front {

	.intro
	{
		font-size: 18px;
		line-height: 28px;
		color: #878787;
		padding-bottom: 42px;

		// Make the links inside the intro subtle!
		a
		{
			color: #878787;
			border-bottom: 1px solid #878787;
		}

		a:hover,
		a:focus
		{
			color: #2385c2;
			border-color: #2385c2;
		}

		a:active
		{
			position: relative;
			top: 1px;
			border: none;
			color: $red;
		}
	}

	.body { border-top: 4px solid #ddd; }

	.writings aside.topics
	{
		background: transparent $biglama no-repeat 100% 0;
		padding-top: 280px;
		margin-top: -168px;
	}
}


/*
	Site Footer
*/

.siteFoot
{
	background: #2385c2;
	display: block;
	clear: both;
	padding: 28px 0;
	color: #9accec;
	font-size: 13px;
	box-shadow: 0 -2px 3px transparentize(#397ca6, 0.44), inset 0 -1px transparentize(#fff, 0.44);

	a
	{
		color: #9accec;
		border-bottom: 1px solid #51a2d4;
	}

	a:hover,
	a:focus
	{
		color: #A7D9FF;
		border-color: #9accec;
	}

	a:active
	{
		position: relative;
		top: 1px;
		border: none;
	}

	nav { position: relative; }

	nav:after
	{
		content: ".";
		display: block;
		background: url(../img/l.png) no-repeat;
		width: 179px;
		height: 176px;
		float: right;
		position: absolute;
		top: -60px;
		right: 0;
		overflow: hidden;
		text-indent: -9999px;
	}

	nav ul
	{
		list-style: none;
		border-left: 1px solid #4c98c8;
		padding-left: 9px;

		a
		{
			color: #bbe0f8;
			border: none;
			font: 700 11px/21px Verdana, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		a:hover,
		a:focus { color: #fff; }
	}

	form
	{
		margin: 7px 0 28px;

		fieldset { border: none; }

		legend,
		label { display: none; }

		.inputText
		{
			float: left;
			font: 13px/13px Verdana, sans-serif;
			padding: 5px 6px 5px;
			color: #404050;
			width: 230px;
			border-radius: 3px 0 0 3px;
			border: 1px solid #4798ca;
			border-right: none;
			background: -webkit-linear-gradient(top, #aaa 0, #fff 3px);
			background:    -moz-linear-gradient(top, #aaa 0, #fff 3px);
			background:         linear-gradient(top, #aaa 0, #fff 3px);
		}

		.inputSubmit
		{
			float: left;
			width: 40px;
			height: 28px;
			border-radius: 0 3px 3px 0;
			border: 1px solid #4798ca;
			box-shadow: inset 0 1px #a1d4f5;
			background: #4b9acc $search no-repeat 50% 6px;
			background-color: #4b9acc;
			text-indent: -9999px;
		}

		.inputSubmit:hover,
		.inputSubmit:focus { background-color: #57b3ed; }

		.inputSubmit:active
		{
			box-shadow: inset 0 2px 4px 1px rgba(0,0,0,.33);
			background-color: #4b9acc;
		}
	}
}